

.cart {
    display: flex;
    align-items: center;
    width: 215px;
    height: 30px;
    border: 1px solid $gray;
    margin-top: 1.6rem;
    
}
.fa_cart {
    margin-left: 100px;
    margin-bottom: 32px;
    border-top: 5px solid $gray;
}
