
.curent{
    width: 70px;
    
    background-color: $black;
    color: $white;
    
    border: none;
    border-left: 1px solid $gray_light;
    
    text-align-last: center;
    outline: none;
}

.curent:after{
    border: none;
}
.curent option{
    
}