.header__top{
    display: flex;
    height: 2rem;
    background-color: $black;
}

.account__text{
    color: $white;
}

.account__icon {
    width: 20px;
    height: 20px;

    fill: $white;
}

.serch{
    
}

.serch__icon {
    width: 20px;
    height: 20px;

    fill: $white;
}
