.total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 30px;
    border: 1px solid $gray;
    border-top: none;
    
}
.total__icon {
    width: 20px;
    height: 20px;
    
    fill:  $gray;

    margin-right: 45px;
}
.total__wrap{
    display: flex;
    color:$gray;
    
}
.total__items{
    padding-right: 10px;
    border-right: 1px solid $gray;
}
.total__price{
    margin-right: 20px;
    margin-left: 10px;
}